---
import Layout from "../layouts/Layout.astro";
import SelfImage from "../assets/Images/SelfImage.jpg";
import { Image } from 'astro:assets';
import Navbar from "../components/Navbar.astro";

---

<Layout title="TheJSD">
  <main class="text-white">
    <!-- <Navbar/> -->
    <div class="flex justify-center">
      <div class="w-800 max-w-[100% - 2rem]">
        <h1 class="text-6xl flex">Hello World!</h1>
        <div class="flex space-x-12">
          <!-- Flex Left -->
          <div class="">
            <Image
              src={SelfImage}
              alt=":^)"
              height="400px"
            />
          </div>
          <!-- Flex Right -->
          <div>
            <h1 class="text-3xl">My name is: James</h1>
            <p class="text-2xl"></p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>