---

---

<nav class="bg-black flex align-middle justify-center py-2 text-white">
  <div class="flex h-max justify-center">
    <div class="w-800 max-w-[100% - 2rem] flex justify-start">
        <ul class="list-none flex justify-start text-2xl">
          <li><a href="/">Home</a></li>
        </ul>
    </div>
  </div>
</nav>