---

---

<nav class="bg-black flex align-middle justify-center py-2">
  <div class="flex h-max justify-center">
    <div class="w-800 max-w-[100% - 2rem] flex justify-start">
        <ul class="list-none flex justify-start text-2xl">
          <li>NAVBAR IN PROGRESS</li>
        </ul>
    </div>
  </div>
</nav>